@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@100&display=swap');

* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
   font-weight: 300;
}

.menu-bar {
   background: #FAF8F1;
   text-align: center;
   height: 100px;
}

body {
   font-family: Arial, Helvetica, sans-serif;

}

.menu-bar ul {
   display: inline-flex;
   list-style: none;
}

.menu-bar ul li {
   margin-bottom: 15px;
   margin-left: 15px;
   margin-left: 2.5em;
   padding: 15px;
   padding-top: 2em;
}

.menu-bar ul li a {
   text-decoration: none;
   color: black;
   font-size: 19px;
}

.menu-bar ul li a:hover {
   color: #FF577F;
   transition: 0.4s ease-in-out;
}

.sub-menu-1 {
   display: none;
}

.menu-bar ul li:hover .sub-menu-1 {
   display: block;
   position: absolute;
   background-color: #FAF8F1;
   margin-top: 15px;
   margin-left: -15px;
}

.menu-bar ul li:hover .sub-menu-1 ul {
   display: block;
   margin: 10px;
}

.menu-bar ul li:hover .sub-menu-1 ul li {
   width: 165px;
   padding: 10px;
   border-bottom: 1px dotted #FF577F;
   background: transparent;
   border-radius: 0;
   text-align: left;
   margin-left: -0.3em;
}

.menu-bar ul li:hover .sub-menu-1 ul li:last-child {
   border-bottom: none;
}

.menu-bar ul li:hover .sub-menu-1 ul li a:hover {
   color: #FF577F;
}

.fa-angle-right {
   float: right;
   color: #FF577F;
}

.sub-menu-2 {
   display: none;
}

.hover-me:hover .sub-menu-2 {
   position: absolute;
   display: block;
   margin-top: -40px;
   margin-left: 150px;
   background-color: #FAF8F1;
   text-align: center;
}

.menu-bar ul li:hover .sub-menu-2 ul li {
   padding: 10px;
   border-bottom: 1px dotted #FF577F;
   background: transparent;
   border-radius: 0;
   float: right;
}

.room-background {
   height: 90vh;
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   color: #FAF8F1;
}

.first-bg-div {
   height: 85vh;
   width: 20%;
   background-color: #FAF8F1;
   color: #1A120B;
   font-size: 40px;
   display: flex;
   flex-direction: column;
}

.first-bg-div img {
   border-radius: 50%;
   height: 170px;
   margin-left: 1.2em;
   margin-top: 15vh;
}

.first-bg-div p {
   margin-left: 0.5em;
   text-align: center;
   font-family: 'Montserrat', sans-serif;
   font-size: 40px;
}

.room-btn {
   width: 150px;
   padding: 0.8em;
   margin-left: 3em;
   font-size: 20px;
   border-radius: 10px;
   margin-top: 0.5em;
   background-color: #FFABAB;
   color: #1A120B;
   border: 1px solid #FFABAB;
   cursor: pointer;
}

.first-bg-div button a {
   text-decoration: none;
   color: black;
}

.first-bg-div button:hover {
   background-color: #FAF8F1;
}

.second-bg-div {
   background-image: linear-gradient(to top, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(./room-images/room-bg.jpeg);
   height: 85vh;
   width: 80%;
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   flex-wrap: wrap;
}

.second-bg-div p {
   font-size: 50px;
   font-family: Arial, Helvetica, sans-serif;
}

.view-room-btn {
   width: 170px;
   padding: 0.7em;
   background-color: #FFABAB;
   color: #000;
   border: 1px solid #FFABAB;
   cursor: pointer;
   font-size: 22px;
   border-radius: 10px;
   margin-top: 0.5em;

}

.second-bg-div button:hover {
   background-color: white;
   color: #1A120B;
}

.rooms-msg p {
   font-size: 30px;
   font-family: monospace;
   text-align: center;
   color: white;
   margin-left: 1em;
   padding: 0.5em;
}

/**DEALING WITH THE CHECK IN SECTION
*/
.all-checks {
   display: flex;
   flex-direction: row;
   justify-content: center;
   text-align: center;
   background: #FAF8F1;
   margin-top: -2em;
}

.check-div {
   display: flex;
   flex-direction: row;
   justify-content: center;
   gap: 10px;
   height: 130px;
   align-items: center;
   background-color: #F0F0F0;
   width: 800px;
   margin-left: 250px;
   margin-top: -4em;
   position: relative;
}

.check-class p {
   font-family: monospace;
   font-size: 23px;
   padding-bottom: 0.2em;
}

.check-class ion-icon {
   color: #FF577F;
   width: 30px;
   height: 20px;
   color: #FF577F;
}

.check-class input, select {
   height: 27px;
   border-radius: 5px;
   border: 1px solid #FFABAB;
   font-size: 17px;
   font-family: monospace;
   text-align: center;
}

.check-class-div {
   background-color: #FFABAB;
   margin-top: -4em;
   position: relative;
}

.check-class-div, .check-p {
   padding-top: 1.2em;
   padding-left: 1em;
   padding-right: 1em;
}

.check-class-div:hover {
   background-color: #FFF;
   border: 2px solid #FFABAB;
}

/* HANDLING SERVICES $ FACILITIES */

.services-div {
   height: 110vh;
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
}

.service-head {
   display: flex;
   flex-direction: column;
   align-items: flex-start;
}

.service-p {
   font-size: 22px;
   font-family: monospace;
   font-family: "Rubik", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
   margin-top: 3em;
   color: #A8A196;
   margin-bottom: 2em;
   margin-left: 4em;
}

#hr-div {
   display: flex;
   flex-direction: row;
   align-items: center;
   margin-left: 1em;
}

.service-hr {
   width: 130px;
   margin-top: 1.5em;
   margin-left: 1.5em;
   border: 1.5px solid #A8A196;
}

#facilities-p, #suites-p {
   font-size: 50px;
   margin-left: 2em;
   font-family: 'Quicksand', sans-serif;
   color: black;
   margin-bottom: 1em;
}

.all-service-icons {
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   margin-left: 4em;
   justify-content: center;
}

.all-service-icons div {
   width: 400px;

}

.all-service-icons img {
   width: 80px;
   border: #FF577F;
}

.service-icons ion-icon {
   color: #F55050;
   width: 50px;
   height: 50px;
   margin-right: -2em;

}


.services-paragraph-ion p:nth-child(1), .services-paragraph p:nth-child(1) {
   font-weight: 600;
   font-size: 20px;
   margin-top: -2.5em;
   margin-left: -4.5em;
   font-family: 'Barlow', sans-serif;
}

#travel-acc, #accept-credit {
   margin-left: -2em;
}

.service-icons p {
   margin-left: 3em;
   font-weight: 300;
   font-family: "Rubik", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
   font-size: 18px;
   
   color: #000;
}

.service-icons-div {
   width: 300px;
}

/* HANDLING THE ROOMS CHOICE */
/* .rooms-choice {} */

#featured-p {
   width: 400px;
   margin-left: 5em;
   padding-left: -3em;
   margin-top: -2em;
   font-family: 'Quicksand', sans-serif;
   color: black;
   font-weight: 100;
   font-size: 22px;
}

#suites-p {
   margin-left: 1.2em;
}

.rooms-div {
   display: flex;
   flex-direction: row;
   flex-wrap: nowrap;
   gap: 10px;
   align-items: center;
   justify-content: center;
}

.rooms-div div {
   width: 350px;
   background-color: #F0F0F0;
   margin-bottom: 1em;

}

.rooms-div img {
   width: 350px;
   height: 300px;
}

.rooms-title p:nth-child(1) {
   color: black;
   font-family: 'Cinzel', serif;
   font-size: 22px;
   padding-top: 1em;
}

.rooms-paragraph {
   width: 300px;
   color: #000;
   font-weight: 400;
   font-family: 'Quicksand', sans-serif;
   text-align: center;
   margin-left: 1em;
}

.button-div {
   display: flex;
   justify-content: center;
   align-items: center;
}

.button-div p:nth-child(1) {
   color: #FFABAB;
   font-size: 20px;
   margin-left: 1em;
}

.button-div button {
   padding: 0.5em;
   font-size: 17px;
   font-family: Arial, Helvetica, sans-serif;
   border: 1px solid #FFABAB;
}

/* HANDLING GUEST REVIEWS */
.guest-reviews {
   height: 100vh;
   background-color: #F0F0F0;
   font-family: unset;
}

.reviews-div {
   display: flex;
   flex-direction: row;
   justify-content: center;

   gap: 3em;
}

.reviews-div div {
   width: 350px;
   background-color: #FFF;
   border-radius: 20px;
}
.reviews-msg-div{
   box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
   
}

.reviews-img img {
   width: 50px;
   height: 50px;
   border-radius: 50%;
   object-fit: cover;
   position: relative;
   top: 30px;
   margin-left: 10px;
}

.reviews-img-p {
   font-size: 19px;
   font-family: "Rubik", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
   color: black;
   font-weight: 400;
   margin-top: -3em;
   margin-left: -4.5em;
   padding-top: 2em;
}

.Satisfied {
   font-family: "Rubik", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
   color: black;
   margin-left: -5em;
   color: #A8A196;
   font-size: 15px;
   margin-top:-1em;
}

.reveiws-message {
   font-family: "Rubik", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
   font-size: 16px;
   margin: 0 1em 0 1em;
   padding-bottom: 2em;
}
/* HANDLING A SIMPLE EMAIL SUBRCIPTION */
.promo-div{
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}
.promo-title{
   font-size: 30px;
   font-family: 'Barlow', sans-serif;
   color: #000;
   font-weight:600;
   margin: 2em 1em;
}

.promo-input input{
   border:1px solid #A8A196;
   padding: 1em;
   width: 550px;
   margin-left: 7em;
   margin-bottom: 2em;
   border-radius: 40px;
   font-size:16px;
   height: 50px;
}
.promo-input button{
   position: relative;
   right: 165px;
   font-size:15px;
   background-color: red;
   padding-left: 2em;
   padding-right: 2em;
   padding-top:0.6em;
   padding-bottom:0.6em ;
   border:1px solid red;
   border-radius:40px ;
   color: #FFF;
   font-style: normal;
   font-weight: 400;
   cursor: pointer;
}
